# Ignore all files
*.*

# Except
!*.json
!*.js
!*.zip
!*.7z
!*.csv
!.gitignore
!README.md

# Images
!chapter1.png_
!chapter2.png_
!chapter3.png_
!chapter4.png_
!chapter5.png_
!Mission01-01.png_
!Mission02-00.png_
!Mission02-01.png_
!Mission02-02.png_
!Mission02-03.png_
!Mission02-04.png_
!Mission03-00.png_
!Mission03-01.png_
!Mission03-02.png_
!Mission03-03.png_
!Mission03-04.png_
!Mission03-05.png_
!Mission03-06.png_
!Mission04-01.png_
!Mission04-02.png_
!Mission05-01.png_
!timinggage02.png_
!timinggage03.png_
!timinggage04.png_
!timinggage05.png_
!IconSet.png_
!Command_0.png_
!Command_1.png_
!Command_2.png_
!seraphiaile.png_